/*공통*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{overflow-x:auto;min-width:1240px; font-family:'Noto Sans KR', sans-serif;}

header .inner{display:flex; justify-content: space-between; align-items: center; margin:auto;padding:0 20px;box-sizing:border-box;}
.logo{
    display:block;
    width:192px;
    height:40px;
    background: url(../images/logo.png) no-repeat 0 0;
    }
.gnb{
    display: flex;
}
.gnb a{
    padding:30px 35px;
    display: block;
    font-size:20px;
    color:#222;
}
.gnb ul {
    display: none;
}
.gnb ul a{
    display: block;
    font-size: 16px;
    color:#acacac;
}
main{
    display: block;
    
}
main h1{
    text-align: center;
    font-size: 50px;
    line-height:1.5;
    color:#fff;
    font-weight: 500;;
    padding: 100px 0;
    background: url(../images/bg_01.png) 50% 0 / cover no-repeat;
}
main .sub_navi{
    display: flex;
    align-items: center;
    height:50px;
    background: #f5f5f5;
    border-bottom:1px solid #ccc ;
}
main .sub_navi a{
    display: block;
    padding:17px 35px;
    color:#222;
}

main .sub_navi strong{
    background: url(../images/ico_home.png)50% no-repeat;
    font-size: 0px;
    border-right:1px solid #ccc ;
}
main .sub_navi strong a{
    display: block;
    padding:25px 35px;
}
main .sub_navi ol{
    display: flex;
}
main .sub_navi ol li{
    border-right:1px solid #ccc ;
}
main .sub_navi div{
    display: none;
}