/*공통*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{overflow-x:auto;min-width:1240px; font-family:'Noto Sans KR', sans-serif;}

header .inner{display:flex; justify-content: space-between; align-items: center; margin:auto;padding:0 20px;box-sizing:border-box;}
.logo{
    display:block;
    width:192px;
    height:40px;
    background: url(../images/logo.png) no-repeat 0 0;
    }
.gnb{
    display: flex;
}
.gnb a{
    padding:30px 35px;
    display: block;
    font-size:20px;
    color:#222;
}
.gnb ul {
    display: none;
}
.gnb ul a{
    display: block;
    font-size: 16px;
    color:#acacac;
}
main{
    display: block;
    
}
main h1{
    text-align: center;
    font-size: 50px;
    line-height:1.5;
    color:#fff;
    font-weight: 500;;
    padding: 100px 0;
    background: url(../images/bg_01.png) 50% 0 / cover no-repeat;
}
main .sub_navi{
    display: flex;
    align-items: center;
    height:50px;
    background: #f5f5f5;
    border-bottom:1px solid #ccc ;
}
main .sub_navi a{
    display: block;
    padding:17px 35px;
    color:#222;
}

main .sub_navi strong{
    background: url(../images/ico_home.png)50% no-repeat;
    font-size: 0px;
    border-right:1px solid #ccc ;
    border-left:1px solid #ccc ;
}
main .sub_navi strong a{
    display: block;
    padding:25px 35px;
}
main .sub_navi ol{
    display: flex;
}
main .sub_navi ol li{
    border-right:1px solid #ccc ;
}
main .sub_navi div{
    display: none;
}
.contents .history_info{
    position: relative;
    font-size: 18px;
    padding-top:110px;
    
}
.contents .history_info::before{
    position: absolute;
    background: url(../images/ir-bg-01.png) no-repeat 0 0;  
    content: "";
    display: inline-block;
    height: 221px;
    width: 314px; 
    right:0;
    bottom:0;

}
.contents .history_info strong{
    font-size: 18px;
    font-weight: 700;
    margin-left: 30px;
}
.contents .history_info li{
    line-height: 2;
    background: url(../images/b-list-style.png)no-repeat 10px 15px;
    justify-content: center;
   
}
.tab ul{
    display: flex;
    justify-content:space-between;
    text-align: center;
    box-sizing: border-box;
}
.tab ul .active{
    background: #1341AE;
    border: 1px solid #1341AE;
    color:#fff;
    
}
.tab ul li{
    text-align: center;
    flex-grow: 2;
    width:100px;
    font-size: 16px;
    line-height: 5;
    border:1px solid #ccc;
}

.tab_contnets02, .tab_contnets03{
    display: none;
}
.history_detail{
    
}
.history_detail div{
    float: left;
    overflow: hidden;
    j
    
    
}

.history_detail ul li{
    display: block;
    line-height: 1.5;
    font-size: 16px;
    overflow: hidden;
    
}

.history_detail ul li strong{
    font-weight: 600;
    display: inline-block;
}
.history_detail ul li em{
    display: inline-block;
    color:#acacac;
    padding-right: 65px;
    padding-left:20px;
}
.history_detail ul li span{
    display: inline-block;
    border-left:1px solid #E6E6E6;
    height:30px;
    padding-left: 65px;
}   